/* google fonts import  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --heading-font: "Merriweather", serif;
    --external-font: "Inter", serif;
}

/* banner container styles here  */

.banner-container{
    background: linear-gradient(to bottom, rgb(16, 16, 16) -19.5%, rgb(16, 16, 16, 0) 100%), url("../images/Banner Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    margin: 1rem 4rem;
    height: 450px;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    width: 50%;
    color: white;
    text-align: center;
}

.banner-subtitle{
    font-weight: 500;
    margin-bottom: 1.5rem;
    opacity: 0.6;
    font-family: var(--heading-font);
}

.banner-title{
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--heading-font);
}

/* new year offer styles here  */

.offer-container{
    margin: 3rem 4rem;

}

.offer-content{
    text-align: center;
    font-family: var(--external-font);
}

.offer-title{
    color: #FF0000;
    font-weight: 900;
}

.offer-description{
    font-size: 10px;
    margin: 1rem 0 0.5rem;
}

.offer-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.offer-img img{
    width: 70%;
}


/* Midnight party container styles here  */

.midnight-party-container{
    background: linear-gradient(to right, rgb(16, 16, 16) -19%, rgb(16, 16, 16, 0) 100%), url("../images/Vectorrr.png");
    border: none;
    border-radius: 1rem;
    height: 450px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}

.midnight-party-img img{
    width: 100%;
}

.midnight-party-content{
    color: whitesmoke;
    
}

.midnight-party-title{
    margin-bottom: 1rem;
    font-family: var(--heading-font);
    font-size: 3rem;
}

.midnight-party-description{
    margin-bottom: 1rem;
    color: #FFFFFF;
    opacity: 0.8;
}

.midnight-party-btn{
    padding: 1rem;
    color: #FFFFFF;
    background-color: #FF0000;
    border: none;
    border-radius: 4px;
}

.midnight-party-btn:hover{
    color: white;
    background-color: #c2088a;
}


